@use "../../styles/base.scss";

.container {
  padding: calc(6rem + 5vh) calc(1rem + 5vw);
  h1 {
    max-width: 100%;
    display: flex;
    align-items: center;
  }
  div {
    max-width: 100ch;
    margin-top: 1.6rem;
  }
}