@use "../../styles/base.scss";

.container {
  align-items: center;
  display: grid;
  grid-template-areas: "cover";
  grid-template-columns: 1fr;
  justify-items: center;

  img {
    filter: blur(3px) opacity(0.8);
    grid-area: cover;
  }
  .text {
    backdrop-filter: blur(4px);
    background: base.$transparent-light;
    box-shadow: base.$shadow;
    border: base.$border-dark;
    border-radius: 0.5rem;
    color: base.$light;
    grid-area: cover;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;

    p {
      color: base.$dark;
      max-width: 50ch;
    }

    button {
      padding: 1rem;
      cursor: pointer;
    }
  }
}
