@use "../../styles/base.scss";

.container {
  align-items: center;
  display: grid;
  grid-template-areas: "cover";
  grid-template-columns: 1fr;
  height: 100vh;
  justify-items: center;
  position: relative;

  img {
    filter: blur(3px) opacity(0.8);
    grid-area: cover;
    object-fit: cover;
  }
  .text {
    backdrop-filter: blur(4px);
    background: base.$transparent-light;
    border-radius: 0.5rem;
    border: base.$border-dark;
    box-shadow: base.$shadow;
    color: base.$light;
    display: flex;
    flex-direction: column;
    grid-area: cover;
    margin: 1rem;
    padding: calc(2rem + 5vh) calc(0.2rem + 6vw);

    p {
      color: base.$dark;
      max-width: 50ch;
    }

    button {
      cursor: pointer;
      padding: 1rem;
    }
  }
}
