@use "@/styles/base";

.container {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  z-index: 100;
  margin: 1rem 1rem 0 0;

  svg {
    fill: base.$light;
  }

  @media (prefers-color-scheme: light) {
    svg {
      fill: base.$dark;
    }
    
  }
}

.open {
  background-color: white;
  svg {
    fill: base.$dark;
  }
}
