@use "base";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: base.$header-fonts;
  line-height: 100%;
}

h1 {
  font-size: base.$big-header;
}

h2 {
  font-size: base.$medium-header;
}

h3 {
  font-size: base.$small-header;
}

p {
  max-width: 90ch;
  font-family: base.$body-fonts;
  font-size: base.$paragraph;
  line-height: 180%;
  margin-bottom: 2rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
