@use "@/styles/base";

.container {
  audio {
    margin: 2rem 0;
  }

  .textContainer {
    padding: 2rem;
    max-width: 150ch;
    margin: auto;
    h1 {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }
    iframe {
      margin: 2rem 0;
    }
    ul,
    li {
      font-size: base.$paragraph;
      font-family: base.$body-fonts;
      list-style: circle inside;
    }
    audio {
      margin-top: 0;
    }
  }

  .imageContainer {
    display: block;
    position: relative;
    width: 100vw;
    height: 50rem;
    overflow: hidden;
    img {
      object-fit: cover;
    }
  }
}
