@use "@/styles/base";

.container {
  padding-top: 5rem;
  img {
    object-fit: cover;
  }
  .imageContainer {
    display: block;
    position: relative;
    width: 100vw;
    height: 500px;
    overflow: hidden;
  }
}