@use "../../styles/base.scss";

.container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: base.$body-fonts;
  gap: 4rem;
  justify-content: space-evenly;
  margin: 5rem 1rem;
  position: relative;
  width: 100vw;

  div {
    max-width: 60ch;
  }
  a {
    font-size: base.$paragraph;
  }
  a:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  address {
    display: flex;
    flex-direction: column;
  }
  @media (prefers-color-scheme: dark) {
    a {
      color: base.$light;
      &:hover {
        color: base.$secondary;
      }
    }
  }

  @media (prefers-color-scheme: light) {
    a {
      color: base.$dark;
      &:hover {
        color: base.$secondary;
      }
    }
  }
}
