@use "@/styles/base";

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  .image {
    position: relative;
    height: 70rem;
  }
  img {
    object-fit: cover;
  }
  .text {
    margin: 1.2rem;
    span {
      font-size: 50%;
    }
  }
}

@media (max-width: 40rem) {
  .container {
    grid-template-columns: 1fr;
  }
}