@use "../../styles/base.scss";

.container {
  font-size: base.$button-font-size;
  font-family: base.$header-fonts;

  nav {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    padding: 0 1rem;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 40%;
  }

  a {
    display: block;
    text-decoration: none;
    color: base.$light;
    margin-left: 4rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
  }

  a:hover {
    color: base.$dark;
  }

  .logo {
    margin-left: 0;
  }

  .hamburger {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  @media (max-width: 40rem) {
    .hamburger {
      display: block;
    }

    ul {
      position: relative;
      right: -100%;
      flex-direction: column;
      background: black;
    }

    a {
      margin: 0;
    }
  }
}
