@use "../../styles/base.scss";

.container {
  font-family: base.$header-fonts;

  nav {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 50px;
    z-index: 1000;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 40%;
    margin: 1rem 1rem 0 0;
  }

  a {
    display: block;
    text-decoration: none;
    color: base.$light;
    margin-left: 4rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: base.$button-font-size;
    font-family: base.$header-fonts;
    transition: base.$button-transition;
    &:hover {
      color: base.$secondary;
      background: base.$light;
      box-shadow: base.$shadow;
    }
    &:active {
      color: base.$accent;
    }
  }

  .logo {
    margin: 1rem 0 0 1rem;
    position: relative;
    z-index: 100;
  }

  .hamburger {
    display: none;
    position: relative;
    top: 1rem;
    right: 1rem;
  }

  
  @media (max-width: 40rem) {
    .hamburger {
      display: block;
    }
    
    .menu {
      position: absolute;
      transform: translateX(100%);
      flex-direction: column;
      background: base.$transparent-dark;
      width: 100vw;
      height: 100vh;
      justify-content: flex-start;
      align-items: stretch;
      padding-top: 60px;
      transition: base.$mobile-transition;
      margin: 0;
    }
    
    .open {
      transform: translateX(0%);
    }

    a {
      margin: 10px;
      text-align: center;
    }
  }

  @media (prefers-color-scheme: dark) {
    a {
      color: base.$light;
    }
  }

  @media (prefers-color-scheme: light) {
    a {
      color: base.$dark;
    }
  }
}
