@use "../../styles/base.scss";

.container {
  background: linear-gradient(
    135deg,
    rgba($color: base.$secondary, $alpha: 0.5) 10%,
    rgba($color: base.$accent, $alpha: 0.6) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 1rem;
  .text {
    backdrop-filter: blur(4px);
    background: base.$transparent-light;
    border-radius: 0.5rem;
    border: base.$border-dark;
    box-shadow: base.$shadow;
    color: base.$light;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: calc(1rem + 2vh) calc(0.2rem + 6vw);
  }

  .image {
    position: relative;
    height: 60rem;
    max-width: 100%;
  }

  img {
    object-fit: contain;
  }

  span {
    font-size: 50%;
  }

  p {
    max-width: 60ch;
  }

  a {
    display: block;
    text-align: center;
    font-size: base.$button-font-size;
    background: base.$secondary;
    padding: 1rem 3rem;
    align-self: center;
    border-radius: 0.5rem;
    transition: base.$button-transition;
    &:hover {
      background: base.$light;
      box-shadow: base.$shadow;
    }
  }

  @media (prefers-color-scheme: light) {
    .text {
      background: base.$transparent-dark;
    }
  }

  @media (max-width: 40rem) {
    .image {
      height: 32rem;
    }
  }
}
